    .main-form {
        background-color: #EA9010;
        padding: 50px 40px;
        border-bottom: 10px solid #3A4042;
        display: flex;
        flex-direction: column;
    }
    
    .main-form .main-input {
        margin-bottom: 20px;
    }
    
    .main-form .main-input.-textarea {
        margin-bottom: 20px;
    }
    
    #status {
        width: 90%;
        text-align: center;
        margin: 10px;
        border-radius: 8px;
    }
    
    #status.success {
        background-color: rgb(211, 250, 153);
        animation: status 4s ease forwards;
    }
    
    #status.error {
        background-color: rgb(250, 129, 92);
        color: #fff;
        animation: status 4s ease forwards;
    }
    
    @keyframes status {
        0% {
            opacity: 1;
            pointer-events: all;
        }
        90% {
            opacity: 1;
            pointer-events: all;
        }
        100% {
            opacity: 0;
            pointer-events: none;
        }
    }