.skills-tec {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    font-size: 25px;
}

.skills-tec .icon {
    margin-right: 25px;
    width: 90px;
}

.skills-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills-tec .title {
    margin-bottom: 5px;
    color: #000;
}